@media only screen and (max-width:590px){
  /**********************************
       NAVBAR
*********************************/

    .navbar{
        height: 90px;
    }

    .carousel{
        margin-top:-90px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .carousel-item{
        height: 600px;
    }

    .h1-box{
        transform: translateY(-100px);
    }

    .h1-box h1{
        font-size: 2rem;
    }

    .h1-box h2{
      font-size: 1.5rem;
    }



    
 /**********************************
          GALLERY / CARD
*********************************/
    
     .galleria{
        margin-top: -50px;
     }

    .gallery{
     display: flex;
     flex-wrap: wrap;
    }

    .card{
        width: 9rem;
        height: 350px;
        
    }

    .card img{
        height: 150px;
    }

    .card h5{
        font-size: 15px;
    }

    .card p{
        font-size: 10px;
    }

}



